<div id="dialog-wrapper" class="dialog-overlay">
        <div class="dialog-header">
            <a href="" title="" class="dialog-close"><span><em>X</em> Close</span></a>
            <div class="clear"></div>
        </div>
        <div class="dialog-profile-main">
            <div class="profile-cont">
                <h2 class="panel-title">FIGHTER PROFILE</h2>
                <img class="panel-title" src="/assets/images/profiles/fighter-profile.png">
                <img src="/assets/images/fighters/batman-big.png" alt="" class="profile-img">
                <div class="profile-info-wrapper">
                    <div class="bane-info">
                        <h3>BATMAN</h3>
                        <p>REAL NAME: <span>Bruce Wayne</span></p>
                        <p>RACE: <span>Human</span></p>
                    </div>
                    
                    <div class="abilities-info">
                        <h3>ABILITIES</h3>
                        <ul>
                            
                            <li><span> Superior human strength, agility, athleticism</span></li>
                            
                            <li><span>Genius-level intellect, outstanding detective skills</span></li>
                            
                            <li><span>Proficient with high-tech equipment</span></li>
                            
                            <li><span>Skilled Martial artist</span></li>
                            
                        </ul>
                    </div>
                    
                    <div class="more-info-wrapper">
                        FOR MORE INFO: : <a href="http://www.dccomics.com/characters/batman" title="" target="_blank">http://www.dccomics.com/characters/batman</a>
                    </div>
                    <div class="bracket-footer">
                        <a href="" title="" class="download"><span class="arrow"></span>DOWNLOAD THIS CARD</a>
                        
                        <a href="" title="" class="share">
                            <img src="/assets/images/social-facebook.png" alt="facebook">
                        </a>

                        <a href="" title="" class="tweet">
                            <img src="/assets/images/social-twitter.png" alt="twitter">
                        </a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>